// Font Family
$main-font: 'Satoshi';
$sub-font: 'Montserrat';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$color-secondary:#b16b42;
$heading: #0e6939;
$color-one: #c5ff00;
$color-two: #0e6939;
$color-three:#0e6939;
$color-four: #c5ff00;
$color-five: #0e6939;
$color-six: #c5ff00;
$color-seven: #0e6939;
$color-eight: #0e6939;
$color-nine: #c5ff00;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$text-white: #fff;
$color-white: #fff;
$cyan: #DCEFF0;
